services:
  laravel:
    image: shinsenter/laravel
    container_name: laravel
    ports:  
      "8000:80"
    environment:
      - DB_HOST=mariadb
      - DB_PORT=3306
      - DB_DATABASE=bitnami_myapp
      - DB_USERNAME=bn_myapp
      - DB_PASSWORD=bn_password
    volumes:
      ./my-project:/var/www/html
  networks:
    database-net:
      ipv4_address: 172.21.21.10
mariadb:
  image: bitnami/mariadb:latest
  container_name: mariadb
  environment:
   - MARIADB_ROOT_PASSWORD=secretpassword
   - MARIADB_DATABASE=bitnami_myapp
   - MARIADB_USER=bn_myapp
   - MARIADB_PASSWORD=bn_password
  volumes:
    ./mariadb_data:/bitnami/mariadb
  networks:
    database-net:
      ipv4_address: 172.21.21.20
phpmyadmin:
  image: phpmyadmin:latest
  container_name: phpmyadmin
  ports:
    " 8443:80"
  environment:
    PMA_ARBITRARY=1
  networks:
    database-net:
      ipv4_address: 172.21.21.30
networks:
    database-net:
      driver: bridge
    ipam:       # ip address management
      config: 
        subnet: 172.21.21.0/24